<section class="bot-list">
<h2> Our bots ({{$ctrl.bots.length}})</h2>
    <div class="search-box">
        <label for="search-box">Search:</label>
        <input id="search-box" name="search-box" ng-model="$ctrl.query">
    </div>
    <div class="order-box">
        <label for="order-box">Sort by:</label>
        <select id="order-box" ng-model="$ctrl.orderProp">
            <option value="name">Alphabetical</option>
            <option value="type">By type</option>
        </select>
    </div>

<ul>
    <li ng-repeat="bot in $ctrl.bots | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <span>{{bot.name}} for {{bot.type}}</span>
        <p>{{bot.snippet}}</p>
        <hr>
    </li>
</ul>
</section>